<main>
    {{#if error}}
    <p>Error: Beverage Not Created</p>
    {{else}}
    <h2> Success: Beverage Created! </h2>
    <h3> Name: {{name}} </h2>
    <a href = "/post_review" > Make A Review About This Beverage!</a>
    {{/if}}
</main>
