<main>
    <hr>
    {{#if error}}
    <p>Error: Beverage {{name}} already exists. </p>
    {{else}}
    <h2> Success: Beverage Created! </h2>
    <h3> Name: {{name}} </h2>
    <a href = "/post_review" > Make A Review About This Beverage!</a>
    {{/if}}
</main>
