<!doctype html>
<html lang="en">

<head>
     
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
</head>

<body>
    <div>
    <h1>Beverage's Name: {{Beverage.name}}</h1> 
    <h1>Beverage's Rating: {{Beverage.rating}}</h1>
    <p>{{Beverage.ratingCount}}</p>
    </div>
    
    {{!-- <div>
        <ol>
            {{#each Posts}}
                <li>{{this}} <br> <a href="/comment">Comment</a></li>
            {{/each}}
        </ol>
    </div> --}}
</body>

</html>