<main>
    <nav class="navBar">
    <table>
        <tr>
		<td><a class="navLink" href="/home">Home</a></td>
        <td><a class="navLink" href="/post_beverage">Create a beverage</a></td>
        <td><a class="navLink" href="/post_review">Write a review</a></td>
        </tr>
    </table>
    </nav>
    <div>
    <br>
    <br>
    <hr>
    {{#if error}}
    <p>Error: Beverage Not Created</p>
    {{else}}
    <h2> Success: Beverage Created! </h2>
    <h3> Name: {{name}} </h2>
    <a href = "/post_review" > Make A Review About This Beverage!</a>
    {{/if}}
</main>
