<!doctype html>
<html lang="en">

<head>
     
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/site.css">
   
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.6/tota11y.min.js"></script>

<body>
    <h1>RateMyDrinks</h1>
        <nav class="navBar">
		<table>
			<tr>
            <td><a class="navLink" href="/home">Home</a></td>
			</tr>
		</table>
		</nav>
    
    <br>
    <br>
    <hr>
    <main class = "search">
       
        <form id = "login-form" action = "/login" method = "post">
            
            <table>
                <tr>
                    <th>
                        <label for="userName">Username: </label>
                    </th>
                    <th colspan="2">
                        <label for="userPassword">Password: </label>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="username"  id = "userName" required>
                    </td>
                    <td>
                        <input type="password" name="password"  id = "userPassword" required>
                    </td>
                    <td>
                    {{#if login_error}}
                    {{login_error}}
                    {{/if}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="Login" id = "submit" ><br>
                    </td>
                </tr>
             </table>
       </form>
    </main>
    <div class ="search">
        <h1>New User? Signup!</h1>
        <form id = "signup-form" action = "/signup" method = "post">
            <table>
                <tr>
                    <th>
                        <label for= "username">Username:</label> 
                        <input type="text" name="username"  id = "username" required>
                    </th>
                </tr>

                <tr>
                    <th>
                        <label for = "email" >Email:</label>
                        <input type="email" name="email"  id = "email" required>
                    </th>
                </tr>

                <tr>
                    <th>
                    <label for = "bio">Bio:</label>
                    <textarea name="bio"  id = "bio" required>{{bio}}</textarea>
                    </th>
                </tr>

                <tr>
                    <th>
                        <label for = 'password' >Password:</label>
                        <input type="password" name="password"  id = "password" required >
                    </th>
                </tr>

                <tr>
                    <th>
                        <input type="submit" value="Login" id = "submit2">
                    </th>
                </tr>
            
                <tr>
                    <th>{{signup_error}}</th>
                </tr>
            </table>
        </form>

    </div>
</body>

</html>
