<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>RateMyDrinks</title>
	    <link rel="stylesheet" href="/public/css/site.css">
	</head>
	<body>
		<h1>RateMyDrinks</h1>
		<nav class="navBar">
		{{#if USERNAME}}
		<table>
			<tr>
				<td><a class="navLink" href="/home">Home</a></td>
				<td><a class="navLink" href="/post_beverage">Create a beverage</a></td>
				<td><a class="navLink" href="/post_review">Write a review</a></td>
			</tr>
		</table>
		{{/if}}
		{{#if LOGIN}}
		<table>
			<tr>
				<td><a class="navLink" href="/home">Home</a></td>
				</tr>
		</table>
		{{/if}}
		</nav>
		<nav class="loginOrLogout">
			<table>
				<tr>
			{{#if LOGIN}}
			<td><a href = "/login_signup">Login</a></td>
			{{/if}}
			{{#if USERNAME}}
 			<td><a href = "/logout">Log Out</a></td>
 		  <td><p>Username: {{USERNAME}}</p></td>
 		  {{/if}}
 				</tr>
 		    </table>
		</nav><br>
		<br> 
		<div>{{{body}}}</div>
	</body>
</html>

