<div class="formArea">
	<form method="POST">
		<label for="content"></label>
		<input type="text" name="content" id="content">
		<input type="button" onclick="addComment()" value="Submit comment!">
	</form>
</div>
<div class="commentArea">
	<li id="comments">
	</li>
</div>
