<main class="search">
   
    <hr>
    <form action="/beverage_status" method="POST">
        <label for="name" > Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="type" > Type:</label>
        <input type="text" id="type" name="type" required>
        <br>

        <label for="subtype"> Subtype:</label>
        <input type="text" id="subtype" name="subtype" required>
        <br>

        <label for="tastes"> Tastes:</label>
            <!--<input type="text" id="tastes" name="tastes" required>-->
	    <textarea name="tastes" id="tastes" required></textarea>
        <br>

        <label for="company"> Company:</label>
        <input type="text" id="company" name="company" required>

        <button class="button" type="submit"> Submit </button>
    </form>
</main>
