<main>
    <a href = "/home" > Home </a>
    <form class="form" enctype="multipart/form-data" action="/beverage_status" method="POST">
        <label for="name" > Name:
            <input type="text" id="name" name="name" required><br>
        </label>
        <label for="type" > Type:
            <input type="text" id="type" name="type" required><br>
        </label>
        <label for="subtype"> Subtype:
            <input type="text" id="subtype" name="subtype" required>
        </label>
        <label for="tastes"> Tastes:
            <input type="text" id="tastes" name="tastes" required>
        </label>
        <label for="company"> Company:
            <input type="text" id="comapny" name="company" required>
        </label>
        <button class="button" type="submit"> Submit </button>
    </form>
</main>
