<main>
    <nav class="navBar">
		<table>
			<tr>
            <td><a class="navLink" href="/home">Home</a></td>
            <td><a class="navLink" href="/post_beverage">Create a beverage</a></td>
            <td><a class="navLink" href="/post_review">Write a review</a></td>
			</tr>
		</table>
		</nav>
    <div>
    <br>
    <br>
    <hr>
    <form class="form" action="/beverage_status" method="POST">
        <label for="name" > Name:
            <input type="text" id="name" name="name" required><br>
        </label>
        <label for="type" > Type:
            <input type="text" id="type" name="type" required><br>
        </label>
        <label for="subtype"> Subtype:
            <input type="text" id="subtype" name="subtype" required>
        </label>
        <label for="tastes"> Tastes:
            <!--<input type="text" id="tastes" name="tastes" required>-->
	    <textarea name="tastes" required></textarea>
        </label>
        <label for="company"> Company:
            <input type="text" id="company" name="company" required>
        </label>
        <button class="button" type="submit"> Submit </button>
    </form>
</main>
