<main>
    <form class="form" enctype="multipart/form-data" action="/post_status" method="POST">
        <label for="name" > Beverage Name:
            <input type="text" id="bid" name="bid"><br>
        </label>
        <label for="image"> Image:
            <input type="file" accept="images/*" name="image">    
        </label>
        <label for="rating"> Rating:
            <input type="number" name="rating">
        </label>
        <label for="content"> Content:
            <input type="text" name="content"> 
        </label>
        <button class="button" type="submit"> Submit </button>
    </form>
</main>
