body {
	background: #fff7d8;
}
main {
	background: grey;
}
h1 {
	color: blue;
}
h2 {
	color: green;
}
h3 {
	color: orange;
}
h4 {
	color: purple;
}
p {
	color: black;
}
img {
	border-radius: 8px;
}
input[type=text] {
	border: 2px solid red;
	border-radius: 4px;
}
.comment {
	color: green;
}
ul {
	background: #3399ff;
	padding: 20px;	
}
ul li {
	background: #cce5ff;
	margin: 5px;
}
a {
	color: green;
}
label {
	color: red;
}
.button {
	background-color: green;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
}

.title {
	border-bottom: 5px solid black;
	margin-bottom: 20px;
}

.title span{
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	border: 5px solid blue;
	padding: 5px;
	border-radius: 25px;

}

.search ul{
	background:#707070;

}
